<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    @model Chef
    <div>
        <a href="/addchefhtml">ADD CHEF!</a>
        <a href="/">CHEFS</a> | <a href="/Dishes"> DISHES</a>
    </div>
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>FIRST NAME</th>
                    <th>LAST NAME</th>
                    <th>AGE</th>
                    <th>NUMBER OF DISHES</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var chef in @ViewBag.Allchefs)
                    {
                        <tr>
                            <td>@chef.FirstName</td>
                            <td>@chef.LastName</td>
                            <td>@chef.Birthday</td>
                            <td>@chef.MadeDish.Count</td>
                        </tr>
                    }
                }

            </tbody>
        </table>

    </div>

</body>

</html>
